<ion-list color="dark">

  <ion-item-sliding *ngFor="let List of deseosServices.lists">
    <ion-item button detail="true" color="dark" (click)="selectList(List)">
      <ion-label> {{ List.title }} </ion-label>
      <ion-note color="tertiary" slot="end"> {{ List.items.length }} items </ion-note>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger" (click)="deleteList(List)">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    
  </ion-item-sliding>


</ion-list>
