<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ List?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">add</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="container">
    <ion-list color="dark">
      <ion-item color="dark">
        <ion-input type="text" label="New Item" labelPlacement="floating" placeholder="New Item" [(ngModel)]="nameItem" (keyup.enter)="addItems()"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list-header color="dark" *ngIf="List?.items?.length != 0 ">
        <ion-label> Tasks to be done </ion-label>
      </ion-list-header>

      <ion-item-sliding  *ngFor="let item of List?.items; let i = index" class="animated fadeInDown">

        <ion-item color="dark">
          <ion-checkbox justify="start" labelPlacement="end" color="tertiary" [(ngModel)]="item.complit" (ionChange)="updateCheck(item)">{{ item.desc }}</ion-checkbox>
        </ion-item>

        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteItem(i)">
            <ion-icon name="close" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>


      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
