<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Finished
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">

  <div id="container">
    <app-lists [finished]="true"></app-lists>
  </div>

  <app-explore-container></app-explore-container>
</ion-content>
