<ion-header [translucent]="true" > 
  <ion-toolbar color="tertiary">
    <ion-title>
      Earrings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <!-- <app-explore-container name="Hola Mundo"></app-explore-container> -->
  <div id="container">
    <!-- <ion-list color="dark">
      <ion-item *ngFor="let List of deseosServices.lists" button  detail="true" color="dark" (click)="selectList(List)">
        <ion-label> {{ List.title }} </ion-label>
        <ion-note color="tertiary" slot="end"> {{ List.items.length }} items </ion-note>
      </ion-item>
    </ion-list> -->
    <app-lists [finished]="false"></app-lists>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="tertiary" (click)="addList()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
